
<!-- Side search bar -->
<ul class="nav flex-column sidebar col-2">
    <li class="nav-item">
        <form class="d-flex" role="search">
        <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
        />
        <button class="btn btn-outline-danger" type="submit">
            Search
        </button>
        </form>
    </li>
    <li>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Hardware</a></li>
                <li><a class="dropdown-item" href="#">Shoes</a></li>
                <li><a class="dropdown-item" href="#">Tools</a></li>
            </ul>
        </div>
    </li>
</ul>

<div class="col-10">
    <div class="container">
        <h2>Category:</h2>
        <div class="row">
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <img class="card-img-top" src="http://placehold.jp/150x150.png" alt="Card image cap">
                    <h5 class="card-title text-center pt-3">Card title</h5>
                    <p>Price:</p>
                    <p>Rate:</p>
                </div>
            </div>
        </div>
    </div>
</div>

